body{
	font-family:sans-serif;
  background-image: url("background-colour.jpg");
}
#search-box{
	border-radius: 10px;
	background:white;
	width:200px;
	height:25px;
}
#iphone-pixel-id{
	font-size:14px;
	border-radius: 100px;
	background:white;
	width:170px;
	text-align:center;
}
.img-class{
	width:120px;
	height:100px;
}
#watches-img{
	width:150px;
	height:150px;
}
#iphone-pixel-container{
	text-align:center;
}
.center-class{
	text-align:center; 
	background:white;
	border-radius:10px;
}
#headphone-img{
	width:150px;
	height:150px;
}
.text-center{
	text-align:center;
}
